* {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans', sans-serif;
    font-size: 16px;
    box-sizing: border-box;
}

:root {
    --background: #daeeff;
    --active: #b869dd;
    --button-disabled: #88b5dd;
    --button-enabled: #3488d3;
}

[data-theme="crazy"] {
    --background: #dab5eb;
    --active: #3488d3;
    --button-disabled: #d388dd;
    --button-enabled: #ca34d3;
}

main {
    background: var(--background);
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    padding: 6px;
    text-align: center;
    box-sizing: border-box;
    transition: background .2s;
}

.upper {
    height: 60%;
    width: 70%;
    display: flex;
    flex-direction: row;
    overflow-x: hidden;
    scroll-snap-type: x mandatory;
    scroll-snap-align: center;
    gap: 8px;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    scroll-snap-align: center;
    flex: 0 0 auto;
    box-sizing: border-box;
}

textarea {
    width: 60%;
    height: 60%;
    resize: none;
    text-align: center;
    padding: 12px;
    border: none;
}

button {
    transition: background .2s, color .2s;
    margin: 12px;
    background: var(--button-enabled);
    color: white;
    text-transform: capitalize;
}

button:disabled {
    color: var(--background);
    background-color: var(--button-disabled);
}

button:enabled:hover {
    background: var(--active);
}

#finalStory {
    display: flex;
    align-items: center;
    width: 60%;
    height: 60%;
    white-space: pre-wrap;
    background: white;
    padding: 12px;
}

.rounded {
    padding: 6px 24px;
    border-radius: 16px;
    border: none;
}

input[type="text"] {
    border: none;
    padding: 4px 8px;
    width: 40%;
    min-width: 230px;
    border-radius: 6px;
}